{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>{% block title %}RoMoCcino{% endblock %}</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/css/mdb.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'icon-32.png' %}"
    />
    {% block head %} {% endblock %}
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-sm navbar-dark"
        style="background-color: chocolate"
      >
        <a href="{% url 'home' %}" class="navbar-brand"
          ><h5>Romy's Coffee</h5></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a
                href="{% url 'collections' %}"
                class="nav-link mr-auto text-uppercase"
                >Caffeinate my day!</a
              >
            </li>
          </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cart' %}">
                <i class="fas fa-coffee" style="padding-right: 7px"></i>My
                Order</a
              >
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-user" style="padding-right: 7px"></i>{{ user }}
              </a>
              <div
                class="dropdown-menu dropdown-menu-right dropdown-info"
                aria-labelledby="navbarDropdownMenuLink-4"
              >
                <a class="dropdown-item" href="#">My account</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
              </div>
            </li>
            {% else %}

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-user" style="padding-right: 7px"></i>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right dropdown-info"
                aria-labelledby="navbarDropdownMenuLink-4"
              >
                <a class="dropdown-item" href="{% url 'login' %}">Sign-in</a>
                <a class="dropdown-item" href="{% url 'register' %}"
                  >Register</a
                >
              </div>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    {% block body %} {% endblock %}
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.5/js/mdb.min.js"
    ></script>
    {% block script %} {% endblock %}
  </body>
</html>
